{% extends "admin/base_site.html" %}

{% load i18n admin_urls admin_static %}
{% load nvd3_tags %}
{% load thumbnail %}
{% load geral_filters %}
{% load humanize %}

{% block extrastyle %}
  {{ block.super }}

  {% include_chart_jscss %}
  {% load_chart charttype chartdata chartcontainer extra %}
  <script type="text/javascript">

    {% load_chart charttype_1 chartdata_1 chartcontainer_1 extra_1 %}    
  </script>
{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <ul class="breadcrumb">
      <li>
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        <span class="divider">&raquo;</span>
      </li>
      <li>
        <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{% firstof opts.app_config.verbose_name app_label|capfirst|escape %}</a>
        <span class="divider">&raquo;</span>
      </li>
      <li>
        {% if has_change_permission %}
            <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
        {% else %}
            {{ opts.verbose_name_plural|capfirst }}
        {% endif %}
        <span class="divider">&raquo;</span>
      </li>
      <li>
        {% if has_change_permission %} 
            <a href="{% url opts|admin_urlname:'changelist' %}{{ original.pk }}">{{ original|truncatewords:"18" }}</a>
        {% else %}
            {{ original|truncatewords:"18" }}
        {% endif %}
        <span class="divider">&raquo;</span>
      </li>
      <li class="active">
        {{ title|truncatewords:"18" }}
      </li>
    </ul>
  {% endblock %}
{% endif %}


{% block content %}
    <div id="detalhe_financeiro-cliente">
        <div id="content-main">
            <div id="toolbar" class="clearfix">
              <form action="" method="get" id="changelist-search" class="form-inline">
                <div class="search-container">
                    <label style="vertical-align: bottom;" for="">{% trans 'Ano' %}:</label>{{ opcoes.ano }}
<!--                     {#<select id="id_ano" name="ano" class="auto-width search-filter">
                        {% for a in opcoes.ano.field.choices %}
                            <option value="{{a.0}}" {% if a.0 == f_ano %} "selected" {% endif %}>{{a.1}}</option>
                        {% endfor %}
                    </select>#} -->
                    <input type="submit" value="{% trans 'Pesquisar' %}" class="btn btn-info" autocomplete="off">
                </div>
              </form>
            </div>
            <br>

            <fieldset class="module">
                <h2 style="margin-left: 30px;">Totais</h2>
                <h2><span class="description">{% trans 'Totalidade dos itens financeiros gerados para o cliente' %}</span></h2>
                <table class="table table-bordered table-condensed table-striped">
                    <thead>
                        <tr>
                            <th colspan="1">{% trans 'Status' %}</th>
                            <th>{% trans 'Valor (R$)' %}</th>
                            <th>{% trans 'Encargos (R$)' %}</th>
                            <th>{% trans 'Total (R$)' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="form-row row1 has_original" id="totais_recebidos">
                            <td class="field-status">
                                <p>{% trans 'Pago' %}</p>
                            </td>
                            <td class="field-valor">
                                <p>{{ totais_recebidos_sem_encargos }}</p>
                            </td>
                            <td class="field-encargos">
                                <p>{{ encargos_recebidos }}</p>
                            </td>
                            <td class="field-total">
                                <p>{{ totais_recebidos }}</p>
                            </td>
                        </tr>
                        <tr class="form-row row2 has_original" id="totais_a_receber">
                            <td class="field-status">
                                <p>{% trans 'A Pagar' %}</p>
                            </td>
                            <td class="field-valor">
                                <p>{{ totais_a_pagar_sem_encargos }}</p>
                            </td>
                            <td class="field-encargos">
                                <p>{{ encargos_a_receber }}</p>
                            </td>
                            <td class="field-total">
                                <p>{{ totais_a_receber }}</p>
                            </td>
                        </tr>
                        <tr class="form-row row3 has_original" id="totais">
                            <td class="field-status">
                                <p><b>{% trans 'Total' %}</b></p>
                            </td>
                            <td class="field-valor">
                                <p>{{ totais_sem_encargos }}</p>
                            </td>
                            <td class="field-encargos">
                                <p>{{ totais_encargos }}</p>
                            </td>
                            <td class="field-total">
                                <p>{{ totais_cobrados }}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
            <br>
            <fieldset class="module">
                <table>
                    <tr>
                        <td>
                          <table>
                            <tr>
                              <td>
                                <h4 class="italic-title" style="margin-left: 30px;"><b>{% trans 'Status atual das parcelas' %}</b></h4>
                                <h2><span class="description">{% trans 'Demonstrativo dos percentuais quanto as pendências financeiras junto ao estabelecimento' %}</span></h2>
                                {% include_container chartcontainer 400 800 %}
                              </td>
                            </tr>
                          </table>
                        </td>
                        <td>
                            <table class="table table-bordered table-condensed table-striped">
                                <tbody>
                                    <tr>
                                        <td colspan="6">
                                        <h2><span class="description">{% trans 'Valores atuais (geral)' %}</span></h2>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="1"><b>{% trans 'Status' %}</b></td>
                                    {% for s in nome_status %}
                                        <td>{{ s }}</td>
                                    {% endfor %}
                                        <td><b>{% trans 'Total' %}</b></td>
                                    </tr>
                                    <tr>
                                        <td colspan="1"><b>{% trans 'Quantidade' %}</b></td>
                                    {% for q in quant_status %}
                                        <td>{{ q }}</td>
                                    {% endfor %}
                                        <td>{{ quant_status_t }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="1"><b>{% trans 'Percentuais' %}</b></td>
                                    {% for p in percent_status %}
                                        <td>{{ p|floatformat:2 }}</td>
                                    {% endfor %}
                                        <td>{{ percent_status_t|floatformat:2 }}</td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <td colspan="6">
                                        <h2><span class="description">{% trans 'Valores históricos (inadimplência)' %}</span></h2>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5"><b>{% trans 'Quantidade de parcelas vencidas:' %}</b></td>
                                        <td>{{ parcelas_hist_q_atrasadas }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="5"><b>{% trans 'Percentual de parcelas atradas:' %}</b></td>
                                        <td>{{ parcelas_hist_per_atrasadas|floatformat:2 }}%</td>
                                    </tr>
                                    <tr>
                                        <td colspan="5"><b>{% trans 'Média de dias atrasados:' %}</b></td>
                                        <td>{{ parcelas_hist_md_atrasadas }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </fieldset>
            <fieldset>
                <table>
                    <tr>
                        <td>
                            <h4 class="italic-title" style="margin-left: 30px;"><b>{% trans 'Recebimentos mensais' %}</b></h4>
                            <h2><span class="description">{% trans 'Demonstrativo dos valores monetários recebidos por mês' %}</span></h2>
                            {% include_container chartcontainer_1 450 800 %}
                        </td>
                        <td>
                            <table class="table table-bordered table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th colspan="1">{% trans 'Mês' %}</th>
                                        <th>{% trans 'Valor (R$)' %}</th>
                                        <th>{% trans 'Qtde' %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for r in receb_group_mes %}
                                    <tr>
                                        <td>{{ r.1 }}</td>
                                        <td>{{ r.2|floatformat:2 }}</td>
                                        <td>{{ r.3 }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>

{% endblock %}


{% block sidebar %}
{% endblock %}