{% load i18n admin_static %}

<!DOCTYPE html>
<html lang="pt-br" >
<head>
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}suit/bootstrap/css/bootstrap.min.css" media="all"/>
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}suit/css/suit.css" media="all">
</head>
<body>

<style>

div#modal-recebimento-form {
    background-color: #edeff1;
    padding: inherit;
}

#img-success {
    width: 200px;
    margin: 0 auto;
    display: block;
}

#modal-recebimento-form .alert.alert-success {
    text-align: center;
}
</style>

<script>

  var recebimento_confirmado = false;

  $('#confirma-recebimento').click(function() {
      id_parcela = $('#id_parcelas_contas_receber').val();
      $.ajax({
              type: 'POST',
              url: "/contas_receber/recebimento/efetiva_recebimento_parcela/" + id_parcela + '/',
              dataType: 'json',
              data : {
                  'valor' : $('#id_valor').val() || 0.00,
                  'juros' : $('#id_juros').val(),
                  'multa' : $('#id_multa').val(),
                  'desconto' : $('#id_desconto').val(),
                  'parcelas_contas_receber': id_parcela,
                  'observacao' : $('#id_observacao').val(),
              },
              success : function(result) {
                  console.log(result);
                  recebimento_confirmado = result['recebimento_confirmado'] == 1 ? true : false;

                  if (recebimento_confirmado) {
                    $('#modal-recebimento-form').html('<img id="img-success" src="{{STATIC_URL}}img/icon-success.svg" alt="Recebimento efetuado com successo.">');
                    $('#img-success').after('<div class="alert alert-success">' + result['message'] + '</div>');
                  } 
                  else {
                    // Atualiza as mensagens de erro
                    if ($('#erro-recebimento')[0]) {
                      $( "#erro-recebimento" ).remove();
                    }
                    if (!$('#erro-recebimento')[0]) {
                      $('#efetiva_recebimento_form').before('<div id="erro-recebimento" class="alert alert-error">' + result['message'] + '</div>');
                    }
                  }
              },
              error : function(req, status, error) {
                  console.log("Erro ao efetivar o recebimento.");
              }
          });
   });

  function log_modal_event(event, modal) {
    if (recebimento_confirmado) {
      console.log("Reload na página após a confirmação do recebimento.");
      location.reload();
    }
  };

  $(document).on($.modal.BEFORE_CLOSE, log_modal_event);

</script>

  <div id="modal-recebimento-form">
    <form id="efetiva_recebimento_form" class="form-horizontal" action="." method="post">{% csrf_token %}
      <div class="inner-center-column">
        <div class="tab-content tab-content-main">
          <fieldset class="module aligned first suit-tab show">
            {% for field in form %}
              <div class="control-group form-row field-{{ field.id_for_label }}">
                <div>
                  <div class="control-label">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                  </div>
                  <div class="controls">
                    {{ field }}
                  </div>
                </div>
              </div>
            {% endfor %}
          </fieldset>
        </div>
      </div>
    </form>
    <div class="box save-box">
      <div class="submit-row clearfix">
        <button id="confirma-recebimento" class="btn btn-high btn-info" style="float: left;">{% trans 'Confirmar recebimento' %}</button><br> 
      </div>
    </div>
  </div>
</body>
</html>