/*   css abaixo altera a exibição de inlines que estouram em cima do container 'save-box'   */
/*
.inline-related .table td .vTextField { 
    width: 100%; 
}
*/

td.field-cidade {
    white-space: nowrap;
}

/* Begin ::Django Selectable::; */
a.ui-combo-button .ui-button-text {
    margin-top: 2px;
}
.ui-button-icon-only {
    width: 2.2em;
    height: 2em;
    bottom: 1px;
}
.ui-widget {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
ul.ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all {
    z-index: 2 !important;
}
/* End ::Django Selectable::; */