Django==1.6.5
diff-match-patch==20121119
django-bower==4.8
django-import-export==0.2.6
django-localflavor==1.1
django-nvd3==0.5.0
django-salmonella==0.6.1
django-smart-selects==1.0.9
django-suit==0.2.12
docutils==0.12
mysql-python==1.2.5
python-nvd3==0.11.0
python-slugify==0.0.9
pytz==2014.9
six==1.9.0
tablib==0.10.0