
.fonte-legenda {
    font-weight: normal;
    font-size: 12px;
    display: inline-block;
    line-height: normal;
    color: #999;
}

/* basic positioning */
.legenda-produtos-esgotando { 
    list-style: none; 
}
.legenda-produtos-esgotando li { 
    float: left; margin-right: 10px; 
}
.legenda-produtos-esgotando span { 
    float: left; width: 12px; height: 12px; margin: 2px; 
}

/* colors */
.legenda-produtos-esgotando .cinquenta-porcento { 
    background-color: #f2dede; border: 1px solid #f2dede;
}
.legenda-produtos-esgotando .cem-porcento { 
    background-color: #fcf8e3; border: 1px solid #fcf8e3;
}

#calendar {
    background: #fff;
    padding: 15px;
}
