
/* Cria grid na página */
.suit-column {
    margin-bottom: 50px;
}
.suit-row-1-col .suit-column {
    width: 100%;
}
.suit-row-2-col .suit-column {
    width: 50%;
}
.suit-row-3-col .suit-column {
    width: 33.33%;
}
.suit-row-4-col .suit-column {
    width: 25%;
}
.suit-row-5-col .suit-column {
    width: 20%;
}
.suit-row-6-col .suit-column {
    width: 16.66%;
}
.suit-row-7-col .suit-column {
    width: 14.28%;
}
.suit-row-8-col .suit-column {
    width: 12.5%;
}
.suit-row-9-col .suit-column {
    width: 11.11%;
}
.suit-row-10-col .suit-column {
    width: 10%;
}
.suit-row-11-col .suit-column {
    width: 9.09%;
}
.suit-row-12-col .suit-column {
    width: 8.333%;
}
