{% extends "admin/change_form.html" %}

{% load i18n admin_static %}
{% load geral_filters %}
{% load compra_filters %}

{% block submit_buttons_bottom %}

    {% checa_habilita_pedido_compra as habilita_pedido_compra %}

    {% if not original %}
        {% if habilita_pedido_compra %}
            <button type="submit" name="_addpedido" class="btn btn-high btn-warning">{% trans 'Salvar Pedido' %}</button>
        {% endif %}
    {% else %}
        {% if original.pedido == "S" and not original.status_pedido and not original.status %}
            <button type="submit" name="_addconfirmapedido" class="btn btn-high btn-warning">{% trans 'Confirmar Pedido' %}</button>
        {% endif %}
        {% if not original.status and original.pedido == "N" and not original.pk|checa_pagamentos_compra or not original.status and original.pedido == "S" and original.status_pedido and not original.pk|checa_pagamentos_compra %}
            <button type="submit" name="_addcancelacompra" class="btn btn-high btn-danger">{% trans 'Cancelar Compra' %}</button>
        {% endif %}
    {% endif %}

    {{ block.super }}
    
{% endblock %} 


{% block object-tools-items %}
    {{ block.super }}

    {% if has_add_permission %}
        <li>
            <a href="copia_novo_pedido">
                <i class="fa fa-copy"></i>
                <span style="position: absolute;">{% trans 'Copiar como novo pedido' %}</span>
            </a>
        </li>
    {% endif %}

{% endblock %}