{# Herança feita à partir do arquivo tabular.html da biblioteca do Django Suit #}


{% load i18n admin_static admin_modify %}
<div class="inline-group {{ inline_admin_formset.opts.suit_classes }}" id="{{ inline_admin_formset.formset.prefix }}-group">
  <div class="tabular inline-related {% if forloop.last %}last-related{% endif %}">
{{ inline_admin_formset.formset.management_form }}
<fieldset class="module">
   <h2>{{ inline_admin_formset.opts.verbose_name_plural|capfirst }}</h2>
   {{ inline_admin_formset.formset.non_form_errors }}
   <table class="table table-bordered table-condensed table-striped">
     <thead><tr>
     {% for field in inline_admin_formset.fields %}
       {% if not field.widget.is_hidden %}
         <th{% if forloop.first %} colspan="1"{% endif %}{% if field.required %} class="required"{% endif %}>{{ field.label|capfirst }}
         {% if field.help_text %}&nbsp;<img src="{% static "admin/img/icon-unknown.gif" %}" class="help help-tooltip" width="10" height="10" alt="({{ field.help_text|striptags }})" title="{{ field.help_text|striptags }}" />{% endif %}
         </th>
       {% endif %}
     {% endfor %}
     {% if inline_admin_formset.formset.can_delete %}<th>{% trans "Delete?" %}</th>{% endif %}
     </tr></thead>

     <tbody>
     {% for inline_admin_form in inline_admin_formset %}

          <!--      
              Início do Script que faz a busca pelo item de compra
              Autor: Gustavo Santana de Oliveira
          -->
          <script type="text/javascript">
              /* Abaixo função para realizar testes com o inline da aplicação */ 
              
              //$(document).ready(function(){
                  //$( ".linked-select" ).change(function() {
                      //alert( "Handler for .change() called." );
                  //});
              //});

              $(document).ready(function(){
                  // Limpa todos os campos da inline, exceto o de produto
                  function LimpaCamposInline()
                  {
                     $("input[name=itenscompra_set-{{ forloop.counter0 }}-quantidade], input[name=itenscompra_set-{{ forloop.counter0 }}-valor_unitario], input[name=itenscompra_set-{{ forloop.counter0 }}-desconto], input[name=itenscompra_set-{{ forloop.counter0 }}-valor_total]").val("");
                  }


                  // Impede que o mesmo item de compra seja adicionado duas vezes numa mesma transação de compra
                  // var $selects = $('.field-produto select');
                  // $('.field-produto select').change(function () {
                  //     $('option:hidden', $selects).each(function () {
                  //         var self = this,
                  //             toShow = true;
                  //         $selects.not($(this).parent()).each(function () {
                  //             if (self.value == this.value) toShow = false;
                  //         })
                  //         if (toShow) $(this).show();
                  //     });
                  //     if (this.value != 0) //to keep default option available
                  //       $selects.not(this).children('option[value=' + this.value + ']').hide();
                  // });


                  /*-------------------------------------------------------------------------------------------------------------------------------
                  Busca o valor unitário do produto informado
                  -------------------------------------------------------------------------------------------------------------------------------*/
                  var valorUnitario;
                  var id;

                  // executa a função quando a select de produto sofrer alterações
                  $("#id_itenscompra_set-{{ forloop.counter0 }}-produto").change(function(){
                      id = $("#id_itenscompra_set-{{ forloop.counter0 }}-produto").val();             // Armazena na variável id o produto selecionado na select
                      if (id) {                                                                       // Condição que verifica se a inline tem produto cadastrado
                          $.ajax({       
                              type: "GET",                                                            // Determina o método http: GET, POST…
                              url: "/get_valor_unitario/"+id,                                         // url declarada no urls.py
                              dataType: "json",                                                       // Tipo de dados que a url vai retornar
                              success: function(retorno){                                             // Caso tenhamos sucesso a função segue em frente
                                  $.each(retorno, function(i, produtos){                              // Faz um laço e pega todos os itens do objeto “retorno”
                                      var valorUnitario = produtos.fields['preco'];                   // Armazena na variável o valor de compra do produto
                                      $('input[name="itenscompra_set-{{ forloop.counter0 }}-valor_unitario"]').val(valorUnitario); // seta o valor obtido no campo valor unitário
                                      //alert( "Handler for .change() called." );
                                  });
                              }
                          }); 
                          //$("input[name=itenscompra_set-{{ forloop.counter0 }}-quantidade], input[name=itenscompra_set-{{ forloop.counter0 }}-desconto]").keyup(); // Chama a função abaixo, que calcula o valor total do item de compra
                          LimpaCamposInline();                                                          // Chama função que limpa os campos do registro 
                          $("input[name=itenscompra_set-{{ forloop.counter0 }}-quantidade]").focus();   // O campo quantidade recebe o foco
                          $(":submit").attr("disabled", true);                                          // Desabilitar a finalização do cadastro

                          jQuery('#id_itenscompra_set-{{ forloop.counter0 }}-quantidade').attr({"required": "required"});  // Torna o campo quantidade obrigatório
                          jQuery('#id_itenscompra_set-{{ forloop.counter0 }}-quantidade').removeAttr('readonly');          // Remove o atributo readonly do campo quantidade
                          jQuery('#id_itenscompra_set-{{ forloop.counter0 }}-desconto').removeAttr('readonly');            // Remove o atributo readonly do campo desconto

                      } else {
                          // Se usuário desmarcar um item de compra, todos os campos do registro são zerados
                          jQuery('#id_itenscompra_set-{{ forloop.counter0 }}-desconto').attr({"readonly": "readonly"});    // Add o atributo readonly no campo desconto
                          var $this = $('#id_itenscompra_set-{{ forloop.counter0 }}-quantidade');
                          $this.attr({"readonly": "readonly"});
                          $this.removeAttr('required');                                                                   // Remove a obrigatoriedade do campo quantidade
                          LimpaCamposInline();
                      }; 
                      calculateSum();                   
                  });


                  /*-------------------------------------------------------------------------------------------------------------------------------
                  Faz o cálculo do valor do item da compra, multiplicando o valor unitário do produto pela quantidade informada
                  e fazendo a subtração da porcentagem de desconto (caso exista algum desconto).
                  -------------------------------------------------------------------------------------------------------------------------------*/
                  $("input[name=itenscompra_set-{{ forloop.counter0 }}-quantidade], input[name=itenscompra_set-{{ forloop.counter0 }}-desconto]").keyup(function () {
                      var quantidade = $('input[name="itenscompra_set-{{ forloop.counter0 }}-quantidade"]').val();            // Armazena a quantidade de produtos informada
                      var valorUnitario = $('input[name="itenscompra_set-{{ forloop.counter0 }}-valor_unitario"]').val();     // Obtém o valor unitário do produto
                      var valorItemCompra = valorUnitario * quantidade;                                                       // Obtém o valor inicial do item de compra
                      var desconto = $('input[name=itenscompra_set-{{ forloop.counter0 }}-desconto]').val();                  // Armazena o desconto inserido pelo usuário
                      var valorPercentualDesconto = (valorItemCompra * desconto) / 100.00;                                    // Cálcula o desconto equivalente a porcentagem informada
                      valorItemCompra = valorItemCompra - valorPercentualDesconto;                                            // Cálculo do valor final do item de compra

                      if (id) {
                          // seta o valor total do item de compra no campo correspondente
                          $('input[name="itenscompra_set-{{ forloop.counter0 }}-valor_total"]').val(valorItemCompra.toFixed(2));  // Com duas casas decimais
                      };
                  }).keyup();


                  /*-------------------------------------------------------------------------------------------------------------------------------
                  Faz o cálculo do valor total da compra
                  -------------------------------------------------------------------------------------------------------------------------------*/

                  // iteração através de cada campo e adiciona keyup
                  // manipulador para desencadear evento soma
                  $(".quantidade-ic, #id_desconto, .desconto").each(function() {
           
                      $(this).keyup(function(){
                          calculateSum();
                      });
                  });

                  function calculateSum() {
               
                      var sum = 0;
                      // iteração através de cada campo e adiciona o valor
                      $(".valor-total-ic").each(function() {
               
                          // adiciona somente se o valor é número
                          if(!isNaN(this.value) && this.value.length!=0) {
                              sum += parseFloat(this.value);
                          }
               
                      });
                      // .toFixed() método de arredondamento da soma final para 2 casas decimais

                      var descontoTotal = $('#id_desconto').val();
                      var percentualDescontoTotal = (sum * descontoTotal) / 100.00;
                      sum = sum - percentualDescontoTotal;

                      $('#id_total').val(sum.toFixed(2));
                  }


              });
          </script>
          <!--      
              Fim do Script que faz a busca pelo item de compra
          -->

        {% if inline_admin_form.form.non_field_errors %}
        <tr><td colspan="{{ inline_admin_form|cell_count }}"><div class="control-group error"><div class="help-block">{{ inline_admin_form.form.non_field_errors }}</div></div></td></tr>
        {% endif %}
        <tr class="form-row {% cycle "row1" "row2" %} {% if inline_admin_form.original or inline_admin_form.show_url %}has_original{% endif %}{% if forloop.last %} empty-form{% endif %}"
             id="{{ inline_admin_formset.formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">

        {% for fieldset in inline_admin_form %}
          {% for line in fieldset %}
            {% for field in line %}
              <td{% if field.field.name %} class="field-{{ field.field.name }}{{ field.field.errors|yesno:' control-group error,' }}{{ field.field.errors|yesno:' control-group error,' }}"{% endif %}>

              {% if forloop.parentloop.first %}
                {% if inline_admin_form.has_auto_field or inline_admin_form.needs_explicit_pk_field %}{{ inline_admin_form.pk_field.field }}{% endif %}
                {{ inline_admin_form.fk_field.field }}
                {% spaceless %}
                  {% for fieldset in inline_admin_form %}
                    {% for line in fieldset %}
                      {% for field in line %}
                        {% if field.is_hidden %} {{ field.field }} {% endif %}
                      {% endfor %}
                    {% endfor %}
                  {% endfor %}
                {% endspaceless %}
              {% endif %}

              {% block field_content %}
                {% if field.is_readonly %}
                    <p>{{ field.contents }}</p>
                {% else %}
                  {% if field.field.errors %}
                    <div class="help-block">
                    {{ field.field.errors.as_ul }}
                    </div>
                  {% endif %}
                  {{ field.field }}
                {% endif %}
              {% endblock %}
              </td>
            {% endfor %}
          {% endfor %}
        {% endfor %}
        {% if inline_admin_formset.formset.can_delete %}
          <td class="delete">{% if inline_admin_form.original %}{{ inline_admin_form.deletion_field.field }}{% endif %}</td>
        {% endif %}
        </tr>
     {% endfor %}
     </tbody>
   </table>
</fieldset>
  </div>
</div>

<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        var rows = "#{{ inline_admin_formset.formset.prefix }}-group .tabular.inline-related tbody tr";
        var alternatingRows = function(row) {
            $(rows).not(".add-row").removeClass("row1 row2")
                .filter(":even").addClass("row1").end()
                .filter(rows + ":odd").addClass("row2");
        }
        var reinitDateTimeShortCuts = function() {
            // Reinitialize the calendar and clock widgets by force
            if (typeof DateTimeShortcuts != "undefined") {
                $(".datetimeshortcuts").remove();
                DateTimeShortcuts.init();
            }
        }
        var updateSelectFilter = function() {
            // If any SelectFilter widgets are a part of the new form,
            // instantiate a new SelectFilter instance for it.
            if (typeof SelectFilter != "undefined"){
                $(".selectfilter").each(function(index, value){
                  var namearr = value.name.split('-');
                  SelectFilter.init(value.id, namearr[namearr.length-1], false, "{% static "admin/" %}");
                });
                $(".selectfilterstacked").each(function(index, value){
                  var namearr = value.name.split('-');
                  SelectFilter.init(value.id, namearr[namearr.length-1], true, "{% static "admin/" %}");
                });
            }
        }
        var initPrepopulatedFields = function(row) {
            row.find('.prepopulated_field').each(function() {
                var field = $(this);
                var input = field.find('input, select, textarea');
                var dependency_list = input.data('dependency_list') || [];
                var dependencies = [];
                $.each(dependency_list, function(i, field_name) {
                  dependencies.push('#' + row.find('.field-' + field_name).find('input, select, textarea').attr('id'));
                });
                if (dependencies.length) {
                    input.prepopulate(dependencies, input.attr('maxlength'));
                }
            });
        }
        $(rows).formset({
            prefix: "{{ inline_admin_formset.formset.prefix }}",
            addText: "{% blocktrans with verbose_name=inline_admin_formset.opts.verbose_name|title %}Add another {{ verbose_name }}{% endblocktrans %}",
            formCssClass: "dynamic-{{ inline_admin_formset.formset.prefix }}",
            deleteCssClass: "inline-deletelink",
            deleteText: "{% trans "Remove" %}",
            emptyCssClass: "empty-form",
            removed: alternatingRows,
            added: (function(row) {
                initPrepopulatedFields(row);
                reinitDateTimeShortCuts();
                updateSelectFilter();
                alternatingRows(row);
                Suit.after_inline.run("{{ inline_admin_formset.formset.prefix }}", row);
            })
        });
    });
})(django.jQuery);
</script>
