{% extends "admin/base.html" %}
{% load admin_static %}
{% load i18n %}
{% load compress %}

{# Additional <head> content here, some extra meta tags or favicon #}
{% block extrahead %}
    {% load selectable_tags %}
    {% include_ui_theme %}
    {% include_jquery_libs %}
{% endblock %}


{# Additional CSS includes #}
{% block extrastyle %}

    {% compress css %}
        <link rel="stylesheet" type="text/css" media="all" href="{% static 'components/bower_components/font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" type="text/css" media="all" href="{% static 'components/bower_components/footable/compiled/footable.core.standalone.css' %}">
        <link rel="stylesheet" type="text/css" media="all" href="{% static 'components/bower_components/footable/compiled/footable.paging.min.css' %}">
        <link rel="stylesheet" type="text/css" media="all" href="{% static 'components/bower_components/footable/compiled/footable.filtering.min.css' %}">
        <link rel="stylesheet" type="text/css" media="all" href="{% static 'components/bower_components/hint.css/hint.min.css' %}">
        <link rel="stylesheet" type="text/css" media="all" href="{% static 'components/bower_components/jquery-modal/jquery.modal.css' %}">
    	<link rel="stylesheet" type="text/css" media="all" href="{% static 'components/bower_components/hopscotch/dist/css/hopscotch.min.css' %}">
        <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/salmonella.css' %}">
        <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/main.css' %}">
    {% endcompress %}
    <!-- <link rel="icon" type="image/png" sizes="any" href="{{STATIC_URL}}img/favicon.svg"> -->
    <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" />
{% endblock %}


{# Additional JS files in footer, right before </body> #}
{% block extrajs %}
    
    {# javascript_catalog - View nativa do Django que permite realizar internacionalização do código JS #}
    <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>

    {% compress js inline %}
        {# jQuery Mask - Script para criar as mascaras dos campos #}
        <script type="text/javascript" src="{% static 'components/bower_components/jQuery-Mask-Plugin/dist/jquery.mask.min.js' %}"></script>
        
        {# jquery.numeric.js - Script para controle de campos numéricos #}
        <script type="text/javascript" src="{% static 'components/bower_components/jquery.numeric/jquery.numeric.min.js' %}"></script>

        {# bootstrap-filestyle.min.js - Script para customização de campos do tipo file em html, para bootstrap #}
        <script type="text/javascript" src="{% static 'components/bower_components/bootstrap-filestyle/src/bootstrap-filestyle.js' %}"></script>

        {# jquery-modal - Script para criar modal #}
        <script type="text/javascript" src="{% static 'components/bower_components/jquery-modal/jquery.modal.min.js' %}"></script>

        {# FooTable - Script para criar paginações de tabelas #}
        <script type="text/javascript" src="{% static 'components/bower_components/footable/compiled/footable.min.js' %}"></script>

        {# Hopscotch - Script para criar o tour guiado #}
        <script type="text/javascript" src="{% static 'components/bower_components/hopscotch/dist/js/hopscotch.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/hopscotch.main.js' %}"></script>

        {# Script personalizado para todo o site #}
        <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
    {% endcompress %}
{% endblock %}


{# Footer links (left side) #}
{% block footer_links %}
  <a href="/doc/" class="icon"><i class="icon-book"></i>{% trans 'Documentação' %}</a>
  <a href="http://gustavosdo.github.io/" target="_blank" id="link-suport" class="icon"><i class="icon-question-sign"></i>{% trans 'Suporte' %}</a>
  <a href="https://github.com/Gustavosdo/private/issues" id="link-issue" target="_blank" class="icon"><i class="icon-comment"></i>{% trans 'Reporte um bug' %}</a>
{% endblock %}

{# Additional header content like notifications or language switcher #}
{% block header_content %}
    {{ block.super }}
    <div class="header-content">
        <!-- First icon column -->
        <div class="header-column icon">
            <i class="icon-eye-open"></i><br>
            <i class="fa fa-area-chart"></i><br>
        </div>
        <div class="header-column" style="margin-right: 35px">
            <a id="up-tour-1-link" href="/" class="grey" title="{% trans 'Navegue pelas páginas e entenda quais são as principais características do sistema.' %}">{% trans 'Tour Guiado' %}</a><br>
            <a id="up-diagrama-link" href="/diagrama_sistema/" class="grey" target="_blank">{% trans 'Diagrama do Projeto' %}</a><br>
        </div>
        <!-- Second icon column -->
        <div class="header-column icon">
            <i class="fa fa-book"></i><br>
        </div>
        <div class="header-column" style="margin-right: 35px">
            <a id="up-wiki-link" href="/wiki-site/" class="grey" target="_blank" title="{% trans 'Documentação dos procedimentos padrão da instituição.' %}">{% trans 'Wiki' %}</a><br>
        </div>
    </div>
{% endblock %}

{# Footer branding name (center) #}
{#{% block footer_branding %}#}
{#{% endblock %}#}


{# Footer copyright (right side) #}
{% block copyright %}
    Copyright &copy; {% now "Y" %} {% trans 'Versão' %} - Estágio<br>
    {% trans 'Desenvolvido por ' %} <a href="http://gustavosdo.github.io/" target="_blank">Gustavo Santana</a>
{% endblock %}
