{% load i18n admin_static %}

<!DOCTYPE html>
<html lang="pt-br" >
<head>
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}suit/bootstrap/css/bootstrap.min.css" media="all"/>
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}suit/css/suit.css" media="all">
  <style>
    #modal-pagamentos-conta{
      height: 300px; 
      background-color: #edeff1;
      padding: inherit;
    }
    #tabela-pagamentos-conta{
      height: 260px; 
      overflow-y: auto; 
      display: inherit;
    }
  </style>
</head>
<body>
  <div id="modal-pagamentos-conta">
    {% if pagamentos %}
      <h2>{% trans 'Pagamentos realizados da conta' %} {{ pagamentos.0.6 }}</h2>
      <div id="tabela-pagamentos-conta">
        <table class="table table-bordered table-condensed table-striped">
          <thead>
            <tr>
              <th colspan="1">{% trans 'ID' %}</th>
              <th>{% trans 'Data do Pagamento' %}</th>
              <th>{% trans 'Valor' %}</th>
              <th>{% trans 'Juros' %}</th>
              <th>{% trans 'Multa' %}</th>
              <th>{% trans 'Desconto' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for pagamento in pagamentos %}
              <tr>
                <td><p>{{ pagamento.0 }}</p></td>
                <td><p>{{ pagamento.1 }}</p></td>
                <td><p>{{ pagamento.2 }}</p></td>
                <td><p>{{ pagamento.3 }}</p></td>
                <td><p>{{ pagamento.4 }}</p></td>
                <td><p>{{ pagamento.5 }}</p></td>
              </tr>
            {% endfor %}     
          </tbody>
        </table>
      </div>
    {% else %}
      <div class="alert alert-info">
        <h2 class="text-center">{% trans 'Não há pagamento realizado da conta' %} {{ conta }}.</h2>
      </div>
    {% endif %}
  </div>
</body>
</html>