{% load i18n admin_static %}

<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>

<style>
    a#calendarlink0, a#calendarlink1 {
      margin-top: 10px;
    }
    .input-append .add-on:last-child, .input-append .btn:last-child, .input-append .btn-group:last-child>.dropdown-toggle {
        margin-top: 5px;
    }
</style>

    {{ spec.form.media }}

    <!-- <font style="white-space: nowrap;"> -->
    <span style="white-space: nowrap;">
    {% for form_field in spec.form %}
        <span class="hint--top hint--bounce" data-hint="{% trans 'Filtre por' %} {{ form_field.field.widget.attrs.field_verbosename }}">
            {{ form_field }}
        </span>
    {% endfor %}
    </span>
    <!-- </font> -->
